#container {
    padding: 30px 20%;
}

#header {
    padding-bottom: 30px;
}

#content {
    padding: 20px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#comments {
    background-color: lightgray;
    margin: 10px 0;
}

.comment-row {
    padding: 20px;
}

.comment-row:not(#comment-head) {
    border-top: 1px solid gray
}

#new-comment {
    width: 100%;
    resize: vertical;
}

.comment-date {
    font-size: 12px;
    color: gray;
}
